@model IEnumerable<Item>

@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dataarea">

    <div class="justify-content-center  row ">
        <h1 style="color : goldenrod"> The Cakery</h1>

    </div>
    <br>
    <div class="col-4 row">
        <h3 class="text-info">Baked With Emotions</h3>

    </div>
    <br><br>

    <div class="row ">

        <table class="table table-striped subdataarea">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(m => m.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Description)
                </th>

                <th>
                    @Html.DisplayNameFor(m => m.Price)
                </th>
                <td></td>

            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td style="width:10%">
                        @Html.DisplayFor(m => item.Id)
                    </td>
                    <td style="width:20%">
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td style="width:30%">
                        @Html.DisplayFor(m => item.Description)
                    </td>

                    <td style="width:20%">
                        @Html.DisplayFor(m => item.Price)
                    </td>
                    <td style="width:20%">
                        <partial name="_addtocartpartial" model="item" />
                    </td>


                </tr>

            }
        </table>

    </div>

</div>


